<div class="modal">
  <img src='assets/brian1.png'>
    <div class="popup-text">
      <div class="title-wrapper">
        <a href="www.brianschroer.co" target="blank">Brian Schroer</a>
      </div>
      <span class="name">
      </span>
    </div>
</div> 

<div class='top'>" 
              + "<img src='" + lastTrack.user_avatar_url
              + "'width='60'> <div class='popup-text'>"  
              + "<div class='title-wrapper'><a href='http://soundcloud.com/" 
              + lastTrack.user_permalink + "/" + lastTrack.track_permalink 
              + "'target='_blank'>" 
              + lastTrack.track_name 
              + "</a></div><span class='name'>" 
              + lastTrack.username  
              + "</span><br><span class='location'>" 
              + lastTrack.user_city + ", " + lastTrack.user_country 
              + "</span></div></div>
