<%# an attempt to create the player partial to render in the test view %>

"<div class='track'>" 
	 + "<a href='http://soundcloud.com/" + last_track.user_permalink + last_track.track_permalink + "'> class='sc-player'>"
	 + "</a>"
	 + "</div>"  


