<header>
	<nav class="site_name">
		<h1>Global Grooves Project</h1>
		<h3>Locally Sourced Beats</h3>
	</nav>
</header>

<div id="map">
	<nav class="new-tracks">
		<h5 class="next-track">Next track</h5>
	  <h5 class="flashback">Flashback</h5>
 	  <a href="#" id="rando"> 
 	  	<h5 class="random">Random</h5> 
 	  </a>
	</nav>

	<script>
		_.templateSettings = {
		  interpolate : /\{\{(.+?)\}\}/g
		};

		//test variables to try to plug into widget 
		var currentTracks = []
		var x = undefined 
 		
 		function onMarkerClick(trackId) {
			$(".track").hide();
			$("#track-" + trackId).show().find(".sc-trackslist a").click();
		};

		//calling map and setting view to a static location
		var map = L.map('map', { center: [22, 122], maxBounds: [[90, -180], [-90, 180]] }).setView([10, 0.1], 1);

		//calling tracks from the database and then displaying on map
		$.ajax(
			'/get_database_tracks',
			{ success: function(last_tracks){
				
				//iterate through called tracks and bind to map marker: popup track info and play track upon click
				_.each(last_tracks, function(last_track) {
					var coords = [];
					coords.push(last_track.lat)
					coords.push(last_track.lng)

					L.marker(coords)
						.addTo(map)
						.bindPopup("<div class='top'>" + 
							"<img src='" + last_track.user_avatar_url
							+ "'width='80'>" + "<p class='name'>" 
							+ last_track.username  
							+ "</p></div>"  
							+ "<a href='http://soundcloud.com/" + last_track.user_permalink + "/" + last_track.track_permalink 
							+ "'target='_blank'>"
							+ "<em>" 
							+ last_track.track_name 
							+ "</em></a><br />" 
							+	last_track.user_city + ", " + last_track.user_country) 
						.on("click", function(event) {var trackId = last_track.track_id;
						onMarkerClick(trackId);
						})
						.on("click", function() { map.setView(coords, 3);
						})
						console.log(last_track.user_permalink)
						var currentTrack = document.getElementsByClassName("sc-player").innerHTML;
					 // if i.zero? 
						// .openPopup();
					 // end

					 	var template = '<div class="track" id="track-{{track_id }}">' +
						 	'<a href="http://soundcloud.com/{{user_permalink}}/{{track_permalink}} " class="sc-player"></a>' +
						 	'<div class="track_info">' +
						 		'<ul>' +
						 			'<li>{{username}}</li> <strong>||</strong>' +
						 			'<li><em>{{track_name}} </em></li> <strong>||</strong>' +
						 			'<li> {{user_city}}, {{user_country}}</li>' +
						 		'</ul>' +
					 		'</div>' +
					  '</div>';

					 var footer = document.getElementsByClassName("footer")[0]
					 var current_track = _.template(template, last_track)
					 footer.innerHTML+= current_track

				});

				L.tileLayer('http://{s}.tile.cloudmade.com/f644205df10c4e16a94c5c9b74438873/998/256/{z}/{x}/{y}.png', {
				    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
				    maxZoom: 18,
				    minZoom: 1   
				}).addTo(map);

				var scPlayerScript = document.createElement("script");
				scPlayerScript.setAttribute("src", "/sc-player.js");
				var body = document.getElementsByTagName("body")[0];
				body.appendChild(scPlayerScript);
			}
		});
  	
  	//pulls up popup window on clicked marker and closes other popup windows. intended to switch song also.
  	function onMarkerClick(trackId) {
  		$(".track").hide();
  		$("#track-" + trackId).show().find(".sc-trackslist a").click();
  	};

  	//jquery for pulling random tracks; not functional yet
		$('.random').click(function() {
			location.reload();
		});

		//jquery for next button; the click function curly brackets call the div class "track"  //
		$('.next-track').click(function() { 
			$(".track").hide();
			$("#track-" + trackId).show().find(".sc-trackslist a").click();
		});
	</script>

</div>

<div class="footer">
</div>




