<div id="map">
</div>
<div class="footer">
	<header>
		<nav class="site_name">
			<h1>Global Grooves Project</h1>
			<h3>Locally Sourced Beats</h3>
		</nav>
	</header>
	<div class='widget-container'>
	</div>
	<div class='call-tracks'>
		<button class="get-more-tracks">ajax</button>
	</div>	
</div>

<%= javascript_include_tag 'track.js' %>
