.sc-player{
  height: 60px;
  position: relative;
  margin: 0 26px;
}

.sc-player ol, .sc-player li{
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* Artworks */

.sc-player .sc-artwork-list{
  display: none;
}

.sc-player .sc-artwork-list li{
  list-style-type: none;
  display: none;
}

.sc-player .sc-artwork-list li.active{
  list-style-type: none;
  display: block;
}

.sc-player .sc-artwork-list li img, .sc-player .sc-artwork-list li div{
  list-style-type: none;
  width: 100%;
  height: 100%;
}

/* controls */

.sc-player .sc-controls{
  position: absolute;
  width: 200px;
  height: 32px;
  bottom: 1px;
  left: 100px;
}

.sc-player .sc-controls a{
  display: inline-block;
  width: 40px;
  height: 40px;
}

.sc-player .sc-controls a.sc-play, .sc-player .sc-controls a.sc-pause{
  text-indent: -3000px;
  position: relative;
}

.sc-player .sc-controls a.sc-pause{
  display: none;
}

.sc-player.playing .sc-controls a.sc-play{
  display: none;

}

.sc-player.playing .sc-controls a.sc-pause{
  display: inline-block;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  bottom: 10px;
  height: 90px;
  width: 400px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
}

.sc-scrubber .sc-volume-slider {
  height: 40px;
  background-color: white;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sc-player .sc-scrubber, .sc-player.playing .sc-scrubber {
  display: block;
}

.sc-scrubber .sc-time-span{
  height: 7px;
  width: 85%;
  margin: 7px 28px;
  position: relative;
  -webkit-border-radius: 5px;
}

.sc-scrubber .sc-buffer, .sc-scrubber .sc-played{
  height: 7px;
  position: absolute;
  top: 0;
  width: 0;
  -webkit-transition: width 0.1s linear;
  -webkit-border-radius: 5px;
}

.sc-scrubber .sc-time-indicators{
  position: absolute;
  right: 0;
  left: 348px;
  top: 44px;
}

.sc-time-indicators .sc-position {
  position: relative;
  right: 350px;
}

/* tracks */

/* Track listings*/

.sc-player ol.sc-trackslist{
  position: absolute;
  width: 400px;
  height: 100%;
  top: 51px;
  font-size: 0.44em;
  line-height: 1em;
  text-align: left;
  text-transform: uppercase;
}

.sc-player ol.sc-trackslist li {
  width: 95%;
  position: relative;
  left: 0;
  padding: 8px 0 8px 18px;
  list-style: none;
  cursor: default;
  border-left: 1px solid rgba(255,255,255,.5);
  border-right: 1px solid rgba(255,255,255,.5);
  color: rgba(255, 255, 255, 0.5);

}

ol.sc-trackslist li:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

ol.sc-trackslist li:last-child {
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.sc-player ol.sc-trackslist a {
  cursor: default;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}

/* Track info*/

.sc-player .sc-info{
  position: absolute;
  top: -66%;
  width : 400px;
  height: 32px;
  z-index: 500;
  color: rgba(127,127,127, 0.8);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  overflow: hidden;
}

.sc-info a {
  color: rgba(127,127,127, 0.8);
}

.sc-info h3 {
  font-size: 0.5em;
  margin: 8px 0 0 0;
  line-height: 1em;
  color: rgba(127,127,127, 0.8);
}

.sc-info h4 {
  font-size: 0.4em;
  margin: 2px 0 0 0;
  line-height: 1em;
  color: rgba(127,127,127, 0.8);
}

.sc-info p {
  display: none;    
}

.sc-player .sc-info.active{
  top: -75%;
}


.sc-player .sc-info-toggle{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}

.sc-player .sc-info-toggle.active{
  left: -5000px;
}

.sc-player .sc-info-close{
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
}

/* utilities */

.sc-player .hidden {
  display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}
