html, body, #map {
	height: 100%;
	width: 100%;
}

body {
	background: white;
	margin: 0;
  font-family: 'helvetica', sans serif;
}

 /*HEADER*/ 

header {
	height: 80px;
	width: 100%;
	position: relative;
	top: 10px;
	border-top: 0;
	background: rgba(236, 240, 241, 0.5);
	padding-top: 8px;
}

header .site_name h1 {
	text-transform: uppercase;
	font-size: 24px;
	margin: -3px 15px 10px 15px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: rgba(52,152,219,0.7);
}

.site_name h3 {
	margin-top: -3px;
	font-size: 18px;
	color: rgba(127,127,127,0.5);
}

.new-tracks {
	position: absolute;
	margin: 0;
	bottom: 170px;
	right: 75px;
	background: #fff;
	padding-top: 5px;
	width: 125px;
	z-index: 999;
}

 .next-track {
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	width: 75%;
	border-top: 3px solid;
	margin: 10px;
	padding-left: 5px;
}

#button {
	float: right;
}

#next {
	float: right;
}

#test{
	float: right;
}

#map .new-tracks #rando {
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	text-color: #000;
}

.flashback {
	font-size: 12px;
	font-family: "helvetica", sans-serif;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	width: 75%;
	border-top: 2px solid grey;
}

.random {
	font-size: 12px;
	font-family: "helvetica", sans-serif;
	margin: 0px 10px 10px 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 75%;
	border-top: 2px solid grey;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	width: 275px;
	height: 120px;
	background: rgba(255,255,255, 0.7);
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-top-left-radius: 6px;
	-webkit-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: none;
	overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	width: 100%;
	height: 100%;
	margin: 17px 3px;
}

.top {
	width: 100%;
	height: 100%;
	border: none;
}

.top img {
	float: left;
	margin-right: 5px;
}

.popup-text {
	margin-left: 68px;
}

.leaflet-popup-content a {
	text-decoration: none;
	target-name: new;
	target-new: tab;
	font-family: "Helvetica", sans-serif;
}

.leaflet-popup-content a:link {
	color: #000;
}

.leaflet-popup-content a:hover {
	color: #4e4e4e;
}

.footer {
	height: 100%;
	background: rgba(52,152,219, 0.7);
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
  overflow-y: scroll;
}

.track:not(:first-child) {
	display: none;
}

.track div ul {
	margin-left: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
}

.track li {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 12px;
	font-family: "helvetica", sans-serif;
}

.track li:first-child{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
} 

.call-tracks .get-more-tracks {
	display: inline-block;
	position: relative;
	left: 20px;
	margin-top: 20px;
	padding: 8px 5px;
	border: 2px solid rgba(229,98,108, .8);
	font-size: 12px;
	font-family: 'arial', sans-serif;
	text-transform: uppercase;
	font-weight: bold; 
	color: rgba(229,98,108, .7);
	cursor: default;
}

.get-more-tracks:hover {
	border: 2px solid rgba(229,98,108, .5);	
}
