html, body, #map {
	height: 100%;
	width: 100%;
}

body {
	background: white;
	margin: 0;
  font-family: 'helvetica', sans serif;
}

 /*HEADER*/ 

header {
	height: 80px;
	width: 100%;
	position: relative;
	top: 10px;
	margin-top: 5%;
	border-top: 0;
	background: rgba(236, 240, 241, 0.5);
	padding-top: 8px;
}

header .site_name h1 {
	text-transform: uppercase;
	font-size: 24px;
	margin: -3px 15px 10px 15px;
	padding-top: 10px;
	padding-bottom: 0px;
	color: rgba(52,152,219,0.7);
}

.site_name h3 {
	margin-top: -3px;
	font-size: 18px;
	color: rgba(127,127,127,0.5);
}

.widget-container {
	margin-top: 30%;
}

.new-tracks {
	position: absolute;
	margin: 0;
	bottom: 170px;
	right: 75px;
	background: #fff;
	padding-top: 5px;
	width: 125px;
	z-index: 999;
}

 .next-track {
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	width: 75%;
	border-top: 3px solid;
	margin: 10px;
	padding-left: 5px;
}

#button {
	float: right;
}

#next {
	float: right;
}

#test{
	float: right;
}

#map .new-tracks #rando {
	text-decoration: none;
	font-family: "Helvetica", sans-serif;
	font-size: 12px;
	text-color: #000;
}

.flashback {
	font-size: 12px;
	font-family: "helvetica", sans-serif;
	margin: 0px 10px 0px 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	width: 75%;
	border-top: 2px solid grey;
}

.random {
	font-size: 12px;
	font-family: "helvetica", sans-serif;
	margin: 0px 10px 10px 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	width: 75%;
	border-top: 2px solid grey;
}

.leaflet-popup .leaflet-popup-content-wrapper {
	height: 120px;
	background: rgba(255,255,255, 0.7);
	-webkit-border-radius: 0;
	border-radius: 0;
	-webkit-top-left-radius: 6px;
	-webkit-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: none;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	width: 360px !important;
	height: 100%;
	margin: 17px 3px;
}

.top {
	width: 100%;
	height: 100%;
	border: none;
}

.top img {
	float: left;
	margin-right: 5px;
}

.popup-text {
	margin-left: 68px;
}

.title-wrapper {
	width: 295px;
	max-height: 3em;
}

.leaflet-popup-content a {
	text-decoration: none;
	font-size: 1.2em;
	target-name: new;
	target-new: tab;
	font-family: "Helvetica", sans-serif;
}

.leaflet-popup-content a:link {
	color: rgba(52,152,219,.8);
}

.leaflet-popup-content a:hover {
	color: rgba(52,152,219,.5);
}

.leaflet-popup-tip-container .leaflet-popup-tip {
	background: rgba(255,255,255,0.7);
	box-shadow: none;
}

.name {
	color: rgba(229,98,108, .7);
	line-height: 19px;
}

.location {
	color: rgba(229,98,108, .6);
}

.footer {
	height: 100%;
	background: rgba(52,152,219, 0.7);
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 450px;
 	overflow-y: scroll;
}

.track:not(:first-child) {
	display: none;
}

.track div ul {
	margin-left: 0px;
	padding: 0px;
	font-family: "Helvetica", sans-serif;
}

.track li {
	display: inline;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 12px;
	font-family: "helvetica", sans-serif;
}

.track li:first-child{
	margin-left: 0px;
	padding-left: 0px;
	margin-right: 0px;
} 

.call-tracks {
	margin-top: 42%;
}

.call-tracks .get-more-tracks {
	display: inline-block;
	position: relative;
	left: 12px;
	padding: 10px 8px;
	border: solid 2px rgba(52,152,219,1);
	font-size: .8em;
	font-family: 'arial', sans-serif;
	text-transform: uppercase;
	font-weight: bold; 
	color: rgba(255,255,255,.5);
	cursor: default;
}

.get-more-tracks:hover {
	border: 2px solid rgba(229,98,108, .5);	
	color: rgba(255,255,255,.8);
}

.about {
	margin: 20px 0 0 25px;
	text-align: left;
}

.icon-question {
	position: absolute;
	bottom: 15px;
	font-size: 1.5em;
	color: rgba(255,255,255,.5);
}

.about-link {
	text-decoration: none;
	cursor: default;
	display: inline-block;
}

.icon-question:hover {
	color: rgba(255,255,255,.9);
}

.powered-by {
	position: absolute;
	right: 10px;
	bottom: 20px;
	font-size: .6em;
	color: rgba(255,255,255,0.5);
}

/* My Marker */

.leaflet-popup-content a.portfolio:link {
	color: rgba(52,152,219, 0.7);
	line-height: 19px;
	font-size: 12px;
}

.blurb {
	color: rgba(229,98,108, .5);
	line-height: 19px;
}

.brian-location {
	color: rgba(52,152,219, 0.8);
}

/* LEAFLET STUFF */

.leaflet-control-container .leaflet-right {
	left: 0;
	right: initial;
}

.leaflet-top .leaflet-bar a, .leaflet-bar a:hover {
	background: none;
	box-shadow: none;
}

.leaflet-top .leaflet-bar {
	box-shadow: none;
}

