<!DOCTYPE html>
<html>
<head>
  <title>Grooves</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"> 
    // Assigning global variables to be used across all scripts
    var mapObject = undefined; 
    trackObjects = []; 
    var trackMarkers = [];
  </script>
  <script src="http://w.soundcloud.com/player/api.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>

</html>

	
