<!DOCTYPE html>
<html>
<head>
  <title>Grooves</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css" />
  
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
	
	</script>

</head>
<body>

<%= yield %>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
	</script>

</body>

</html>

	
